<h1>New Dinosaur</h1>
<%= render "form" %>

<%# form_tag dinosaurs_path do %>
  <%# label_tag :name %>
  <%# text_field_tag :name %>

<%# end %>

<%#= form_for Dinosaur.last do %>

<%# end %>


<!-- 
<form action="<%= dinosaurs_path %>" method="POST">
  <ul>
    <li>
      <label for="dino-name">Name:</label>
      <input id="dino-name" type="text" name="name" />
    </li>
    <li>
      <label for="dino-ferociousness">Ferociousness:</label>
      <input id="dino-ferociousness" type="number" name="ferociousness" />
    </li>
    <li>
      <label for="dino-vegetarian">Vegetarian:</label>
      <input id="dino-vegetarian" type="checkbox" name="vegetarian" />
    </li>

  </ul>
  <input type="submit" />
</form> -->