ul > li.summer-month {
  color: blue;
}
/*.warm-month {
  color: #fa0;
}
.summer-month {
  font-size: 90px;
}
#march {
  color: green;
}
.summer-month {
  text-decoration: underline;
  color: purple;
}
#december.winter-month {
  color: yellow;
}
.winter-month.cold-month {
  color: blue;
}*/