@import url('https://fonts.googleapis.com/css?family=B612+Mono|Montserrat&display=swap');
#root {
  font-family: 'Montserrat', sans-serif;
  width: 800px;
  padding: 20px;
  margin: 0 auto
}

h1 {
  color: #444;
}

i {
  color: #333;
}

